
<p id="notice"><%= notice %></p>

<p>
  A jQuery game of: <b><%= @game.name %></b>
</p>
<p>Random sequence:</p>

<div id="podium">
	<figure>
		<img src="#">  <!-- a placeholder tag to be replaced by a lineup image on page load -->
	</figure>
</div>

<div id="spacer">
</div>	

<div>
	<div class = "lineup">	
		<% @suspects.each do |suspect| %>
		<figure class="suspect">
			<%= image_tag suspect.src, {:class => "mugshot"} %>
			<%= suspect_caption(suspect) %>
		</figure>
		<% end %>
	</div>
</div>

<br clear="left" />
<div id="storehouse">
	<%= image_tag "true22x22.png",  {:class => "true"}  %>
	<%= image_tag "false22x22.png", {:class => "false"} %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<p id="console">
	<!--[<%= @ruby_array.join(",") %>] -->
</p>


<script type = "text/javascript" >
    <%= render "shared/js_matching_rules" %>
    <%= render "shared/js_put_on_podium" %>
    <%= render "shared/js_anim_correct" %>




</script>