
<p id="notice"><%= notice %></p>

<p>
  A jQuery game of: <b><%= @game.name %></b>
</p>
<p>Random sequence:</p>

<div id="podium">
	<div>
		<img src="#">  <!-- a placeholder tag to be replaced by a lineup image on page load -->
	</div>
</div>
<div id="spacer">
</div>	
<div>
	<div class = "lineup">
		<% @icons.each do |icon| %>
		<div class = "suspect">
		  <%= image_tag icon, {:class => "mugshot"} %>
		  <%= image_tag "true22x22.png",  {:class => "true"}  %>
		  <%= image_tag "false22x22.png", {:class => "false"} %>
		</div>
		<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<p id="console">
	<!--[<%= @ruby_array.join(",") %>] -->
</p>


<script type = "text/javascript" >
// initialize client-side javascript array to server-side ruby array
// This javascript is here because I need the active <% %> tags. When we switch
// to the Rails 3.1 Assets Pipeline, should be able to move this to a pure javascript file.

var global_seq = [<%= @ruby_array.join(", ") %>];

// create empty array to remember which images are faded and need to be restored
var faded_arr = [ ];

$(function(){

	// remove this index from the global_seq array
	// copy an image from the lineup and put it onto the podium
	cloneLineupImageToPodium(global_seq[0]);
	

 	// div (containing the image) click event handler
	$(".lineup").click(function(event){
			suspectDiv = $(event.target);
			if ($(event.target)[0].className != "suspect") {
				suspectDiv = $(event.target).parent(".suspect")[0];
			}
		if ( global_seq[0] == $(".lineup div.suspect").index(suspectDiv)) {
			// right answer, animate a bunch of effects
			// ending with the next item to match on the podium
			animateRightAnswer(suspectDiv, this);
			
		} else {
			// wrong answer, fade the suspect image clicked
			$("img.mugshot", suspectDiv).fadeTo("slow", 0.50);
			// remember each faded target
			faded_arr = faded_arr.concat(suspectDiv);
			// show the red X that is already here
			$("img.false", suspectDiv).fadeTo("slow", 1.0);

		}
	});
	
	// set the height of the podium to keep it from collapsing after the last image is removed
	var h = $("#podium").css("height");
	$("#podium").css("height", h);
});

// pick image to put on podium
function cloneLineupImageToPodium(ix){
	// brighten image, then clone
	//$("#console").append("<br/>[cloneLineupImage] " + ix);
	$("#podium img").replaceWith($(".lineup img.mugshot").eq(ix).css("opacity", 1).clone());
}


/*
    Create inside functions to handle the animation
    Formal arguments:
        suspectDiv - the <div> that contains the image the user clicked. Possibly, the user
                     clicked outside the image, but still the correct div. This is the div
                     that contains the image.
        lineupDiv -  The images are contained in a div with class 'lineup'. Possibly, there
                     are multiple lineups for a different configuration of the board. The
                     lineupDiv is the actual div that contains the 'click' handler. That is
                     the value of the 'this' variable in the handler.
 */
function animateRightAnswer(suspectDiv, lineupDiv) {

    /* -------------- animation chains -------------------
     * do animation by finishing a step before beginning the next step. See:
     * http://stackoverflow.com/questions/461912/finish-one-animation-then-start-the-other-one
     * ---------------------------------------------------------------------------------------- */
    rightStep1();

    function rightStep1() {
        //$("#console").append("<br/>[rightStep1]");
        $("img.mugshot", suspectDiv).slideUp("slow", rightStep2);
    }

    function rightStep2() {
        //$("#console").append("<br/>[rightStep2]");
        $(suspectDiv).remove();
        rightStep3();
    }

    function rightStep3() {
        //$("#console").append("<br/>[rightStep3]");
        // restore faded images (child(1))
		$("img:nth-child(1)", faded_arr).fadeTo("fast", 1.0);
		// hide the X image (child(3)) (X marks  it wrong)
		$("img:nth-child(3)", faded_arr).fadeTo("fast", 0.0);

		// note the following uses the 'arguments.callee' to sequentially animate one image at a time
        var ix = 0;
        (function() {
            var el = faded_arr[ix++];
			// restore the image
			// workes, left here as example -- $("img:nth-child(1)", el).fadeTo("fast", 1.0, arguments.callee);
			// remove the marked wrong X
			// workes, left here as example -- $("img:nth-child(3)", el).fadeTo("fast", 0.0, arguments.callee);
        })();
		//$("#console").append("<br/>[rightStep3]--done");
        rightStep4();
    }

    function rightStep4() {
        //$("#console").append("<br/>[rightStep4]");
        // are there more images to match?
        if (global_seq.length > 0) {
            // chop head off sequencing array
            removed = global_seq.splice(0, 1);

            // renumber any values greater than the removed item's value
            reindex_global_seq(removed);

            // put next image on podium
            cloneLineupImageToPodium(global_seq[0]);
        } else {
            // all done, no more left. Remove item from podium
            $("#podium img").remove();
        }
    }

	// a private function to
	// remove first element [1] so:[1 0 2 3]
	// becomes:                    [0 2 3]
	// then decrement values > 1:  [0 1 2]
	function reindex_global_seq(above_here) {
		//$("#console").append("<br/>[" + global_seq + "] -- before renumber");
		for(var i = 0; i < global_seq.length; i++){
			if (global_seq[i] > above_here) {
				global_seq[i]-- ;
			}
		}
		// write modified global_seq array to console
		//$("#console").append("<br/>[" + global_seq + "]");
	}
}

</script>